MONGO_URL=mongodb://wmfinance-mongo:27017
DB_NAME=wmfinance
CORS_ORIGINS=https://wm-finance.by,https://www.wm-finance.by
EMERGENT_LLM_KEY=sk-emergent-62940379d4dCa73EeE
JWT_SECRET=wmfinance_jwt_secret_key_2026_secure
SUPERADMIN_LOGIN=admin
SUPERADMIN_PASSWORD=220066mm
SUPERADMIN_ID=superadmin-wmfinance-001
